body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board__container{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.square__container{
  width:100px;
  height: 100px;
  background-color: #f9a826;
  border: 3px solid #e89715;
  transition: 0.5s;
  font-size: 32px;
  font-weight: bold;
}

.square__container:hover{
  cursor:pointer;
  filter: brightness(0.9);
}

.square__container:focus{
  outline: none;
}

body{
  background-color: #222;
  color: #eee;
}

.info__wrapper{
  max-height: 20vh;
  padding: 0 3vw;
  text-align: center;
}
.moves__wrapper{
  display: flex;
  flex-wrap: wrap;
}

.moves__wrapper div button{
  color: white;
  background: #222;
  border: 0px;
  list-style-type: none;
  cursor: pointer;
}

.moves__wrapper div button:focus{
  outline: none;
}
.reset__game{
  background: linear-gradient(#eee, #bbb);
  border-radius: 5px;
  font-size: 16px;
  padding: 20px 40px;
}
@media(max-width: 500px){
  .reset__game{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
  }
}